/ {
    aliases {
        sw0 = &button0;
        sw1 = &button1; /* 👉 告訴系統我們有第二顆按鈕叫 sw1 */
    };

    buttons {
        compatible = "gpio-keys";
        
        /* D1 腳位 (P0.03)：用來切換頻道 */
        button0: button_0 {
            gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Switch Channel Button";
        };

        /* D2 腳位 (P0.28)：用來打字與重置 */
        button1: button_1 {
            gpios = <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Type Letter A Button";
        };
    };
};