/ {
    aliases {
        usbd0 = &zephyr_udc0;
    };
};

&zephyr_udc0 {
    status = "okay";
    cdc_ncm_0: cdc_ncm_0 {
        compatible = "zephyr,cdc-ncm-ethernet";
        zephyr,random-mac-address; 
        
        /* 🚀 換成你專屬的 02 開頭虛擬 MAC */
        remote-mac-address = "02badc0ffee0"; 
        
        status = "okay";
    };
};